*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 section{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
   height: 100vh;
   /* background: url('images/hassam2.jpg') no-repeat; */
   background-color: black;

   /* background-size: cover;
   background-position: center;
   animation: animateBg 5s linear infinite; */
 }
 .card-profile{
   /* width: auto; */
    width: 400px;
    height: 420px;
    border: 8px solid skyblue;
    border-radius: 16px;
    box-shadow: 0 0 3rem skyblue;
    /* align-items: center
    ; */
    text-align: center;
    /* backdrop-filter: blur(10px); */
    /* background-color: lightslategrey; */
 }
 .card-profile img{
    border-radius: 50%;
    border: 5px solid #ffc100;
    box-shadow: 0 0 3rem ffc100;
    margin-top: 20px;
 }
 .email{
    text-align: left;
    padding-left: 5%;
    color:skyblue;
    margin-top: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
 }
.email-verified{
    text-align: left;
    padding-left: 5%;
    color:skyblue;
    margin-top: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.email span{
    color: #ffffff;
    font-size: 1.2rem;
}

.btn{
 padding: 1rem 9%;
 margin:  2rem 1rem 1rem;
 background-color: transparent;
 outline: 0;
 border: 2px solid skyblue;
 border-radius: 6px;
 box-shadow: 0 0 1rem skyblue;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: #ffffff;
 text-transform: capitalize;
 font-size: 0.9rem;
 }
 .btn:hover{
    box-shadow: none;
    /* background-color: ; */
    cursor: pointer;
 }

 #profile-email-verified{
   color: #ffffff;
   text-transform: capitalize;
   letter-spacing: 2px;
 }

 @media only screen and (max-width: 400px) {
   .card-profile{
      /* width: auto; */
       width: 360px;
       /* width: 100%; */
       height: 420px;
       border: 8px solid skyblue;
       border-radius: 16px;
       box-shadow: 0 0 3rem skyblue;
       /* align-items: center
       ; */
       text-align: center;
       /* backdrop-filter: blur(10px); */
       /* background-color: lightslategrey; */
    }
    .email{
      font-size: 1.1rem;
    }
    .email span{
      font-size: 1rem;
    }
 }